.button {
  border: 1px solid rgb(203, 187, 175);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: inherit;
  display: block;
  line-height: inherit;
  overflow: hidden;
  padding: 0px 5px;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(240, 221, 207);
}
.button:visited {
  color: inherit;
  border: inherit;
  text-decoration: inherit;
}

.activeButton {
  composes: button;

  background-color: rgb(240, 221, 207);
}