.text {
  color: #524765;
  font-size: 12px;
  font-weight: 500;
}

.app {
  composes: text;

  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.main {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

