.text {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0 10px;
  text-decoration: none;
}
.text:visited {
  color: inherit;
}

.header {
  background-color: rgb(255, 252, 250);
  z-index: 2;
}

.topBar {
  background-color: inherit;
  display: flex;
  font-size: inherit;
  height: 23px;
  left: 0;
  line-height: 23px;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
}
