.needs {
  flex: 1;
  overflow-y: scroll;
  padding: 0 33px;
}

.typeTitle {
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  margin: 37px 0 0 0;
}

.buildingList, .subBuildingList {
  display: flex;
}
.buildingList {
  flex-wrap: wrap;
}
.subBuildingList {
  position: relative;
}

.building {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.buildingList > .building {
  border: 1px solid rgb(203, 187, 175);
  border-top: none;
  cursor: pointer;
  margin: 23px 0px 0px -1px;
}

.subBuildingList > .building:first-child::before {
  border-left: 1px solid rgb(203, 187, 175);
  border-top-left-radius: 8px 12px;
  border-top: 1px solid rgb(203, 187, 175);
  content: "";
  display: block;
  height: 12px;
  margin: -1px 0 0 50%;
  width: 50%;
}
.subBuildingList > .building:last-child::before {
  border-right: 1px solid rgb(203, 187, 175);
  border-top-right-radius: 8px 12px;
  border-top: 1px solid rgb(203, 187, 175);
  content: "";
  display: block;
  height: 12px;
  margin: -1px 50% 0 0;
  width: 50%;
}
.subBuildingList > .building:only-child::before {
  border: none;
  border-radius: 0;
  border-right: 1px solid rgb(203, 187, 175);
  content: "";
  display: block;
  height: 12px;
  margin: 0 50%;
  width: 0px;
}
.subBuildingList::before { 
  border-right: 1px solid rgb(203, 187, 175);
  content: "";
  display: block;
  height: 12px;
  margin: 0 50%;
  position: absolute;
  top: -12px;
  width: 0px;
} 

.hasAlternative {
  composes: building;
}

.buildingData {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.number {
  border-bottom: 1px solid rgb(203, 187, 175);
  border-top: 1px solid rgb(203, 187, 175);
  /* border-radius: 12px; */
  box-sizing: border-box;
  color: rgb(82, 71, 101);
  font-size: 12px;
  font-weight: bold;
  height: 24px;
  line-height: 12px;
  width: 100%;
  padding: 6px;
  text-align: center;
}

.green {
  composes: number;
  background-color: #72aa31;
  color: #fff;
}
.yellow {
  composes: number;
  background-color: #fff187;
}
.red {
  composes: number;
  background-color: #d65448;
  color: #fff;
}

.icon {
  display: inline-block;
  height: 33px;
  padding: 12px 12px 24px 12px;
  width: 33px;
}

.textOr {
  margin: 0 0 6px 0;
}

.line {
  display: inline-block;
  height: 60px;
  margin: 6px;
  min-width: 4px;
  position: absolute;
  top: -6px;
}

.svgText {
  font-size: 12px;
  line-height: 12px;
  fill: #cbbbaf;
}

